<!DOCTYPE html>
<html>
<%= tabs %>
<head>
  <title>ExpenseAnalyzer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "categories" %>
  <%= stylesheet_link_tag    "graphs" %>
  <%= javascript_include_tag "/assets/swfobject", "jquery" , "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
